DB_HOST=localhost:3306
DB_USER=maria
DB_PWD=password
MYSQL_DATABASE=scenario_uber
COUCHDB=http://admin:couchdb@localhost:5985
POSTGRES=postgresql://admin:password@localhost:5435/scenario_uber
PORT=3005
NODE_ENV=development