DB_HOST=localhost
DB_USER=maria
DB_PWD=password
MYSQL_DATABASE=scenario_uber
MONGODB=mongodb://admin:password@localhost:27017/scenario_uber
MONGO=mongodb://admin:password@localhost:27017/
POSTGRES=postgresql://admin:password@localhost:5435/scenario_uber
PORT=3005
NODE_ENV=development
MONGODBNAME=scenario_uber

CLIENT=client
CLIENTPATH=/Users/king-anduin/nextcloud/studying/scripts/ndbk/scenario_uber/scenario_uber_client.csv
RIDE=ride
RIDEPATH=/Users/king-anduin/nextcloud/studying/scripts/ndbk/scenario_uber/scenario_uber_ride.csv
WAYPOINT=waypoint
WAYPOINTPATH=/Users/king-anduin/nextcloud/studying/scripts/ndbk/scenario_uber/scenario_uber_waypoint.csv
DRIVER=driver
DRIVERPATH=/Users/king-anduin/nextcloud/studying/scripts/ndbk/scenario_uber/scenario_uber_driver.csv

APIKey=S979qbpwrMS8xAQFnyqr0Jeiq
APISecretKey=LEKuHaJbes6fgTxWECVkwWQLibXQNa6lP7vaOQBwmuq89vyko6
BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAKY5UQEAAAAAjJF31k24WBNGzjYrHGF6vjnNdBo%3DG975GgJ2nN28TdDQQRMEF8TvtmQD4NHaBCm073tECwsFraybPT
AccessToken=1444270959591108613-1UQtWb8ypZguwzVhC9V0YHeHJqo46B
AccessTokenSecret=4AWjLHtIHEEjyiiSEVZuPpz62ZyjEiv0u81zxvTQHKLIG