option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: URL-TO-AWS-RESSOURCE-DB
    DB_USER: admin
    DB_PWD: password
    MYSQL_DATABASE: DATABASENAME
    MONGODB: mongodb://admin:password@URL-TO-AWS-RESSOURCE-DB:27017/scenario_uber?authSource=admin
    MONGO: mongodb://admin:password@URL-TO-AWS-RESSOURCE-DB:27017/
    PORT: 3000
    NODE_ENV: development
    MONGODBNAME: DATABASENAME
    SUPERSECRET: password
    NPM_USE_PRODUCTION: false