option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: ip-10-0-104-233.eu-central-1.compute.internal
    DB_USER: maria
    DB_PWD: password
    MYSQL_DATABASE: scenario_uber
    MONGODB: mongodb://admin:password@ip-10-0-104-233.eu-central-1.compute.internal:27017/scenario_uber?authSource=admin
    MONGO: mongodb://admin:password@ip-10-0-104-233.eu-central-1.compute.internal:27017/
    PORT: 3000
    NODE_ENV: development
    MONGODBNAME: scenario_uber
    SUPERSECRET: aQcQOcaAtasICiPYCrroLLBKJ
    NPM_USE_PRODUCTION: false